Repository URECA-T5/pawong, pull requests merged in 2024-10, with the labels that each got.

#14 style : notice page publishing
  public/asset/notice/dogIcon.png
  src/pages/Login.jsx
  src/pages/NoticePages/Notice.jsx
  src/router/router.js
  src/style/global/global.js
  src/style/notice/notice.js
Labels: 지욱, style

#16 style : main page publishing
  package-lock.json
  package.json
  public/asset/main/banner1.svg
  public/asset/main/banner2.svg
  public/asset/main/carousel1.svg
  public/asset/main/carousel2.svg
  public/asset/main/diaryupload.svg
  public/asset/main/doglist.svg
  public/asset/main/favorites.svg
  public/asset/main/notice.svg
  src/components/common/Nav.jsx
  src/components/main/Footer.jsx
  src/components/main/MainAccordion.jsx
  src/pages/Main.jsx
  src/router/router.js
  src/style/global/global.js
  src/style/main/accordion.js
  src/style/main/footer.js
  src/style/main/main.js
  src/style/main/navbar.js
Labels: 은진, style

#20 메뉴페이지 퍼블리싱 완료 및 zustand 의존성 추가
  package-lock.json
  package.json
  public/asset/menu/badge_icon.svg
  public/asset/menu/crown_icon.svg
  public/asset/menu/cs_icon.svg
  public/asset/menu/dog_icon.svg
  public/asset/menu/empty_profile.svg
  public/asset/menu/love_icon.svg
  public/asset/menu/mypage_icon.svg
  public/asset/menu/notice_icon.svg
  public/asset/menu/record_icon.svg
  public/asset/register/registerImg_icon.svg
  src/pages/CareDiary.jsx
  src/pages/Menu.jsx
  src/router/router.js
  src/stores/diaryStore.js
  src/style/menu/menu.js
  src/style/register/careDiary.js
Labels: 가인, feat, style

#22 [style] 임보상식 페이지 퍼블리싱
  package-lock.json
  package.json
  public/asset/notice/senseImg.svg
  src/components/notice/Content.jsx
  src/components/notice/FaqArcodion.jsx
  src/data/faqData.js
  src/pages/Login/Login.jsx
  src/pages/Notice/CommonSense.jsx
  src/pages/Notice/Notice.jsx
  src/router/router.js
  src/style/notice/commonSense.js
  src/style/notice/content.js
  src/style/notice/faqAccordion.js
Labels: 지욱, feat, style

#27 style : donationRecord page publishing
  package-lock.json
  package.json
  public/asset/record/donation.svg
  public/asset/record/donationNull.svg
  public/asset/record/sample.png
  public/asset/record/sample2.png
  public/asset/record/samplebob.png
  public/asset/record/samplebob2.png
  src/components/common/Nav.jsx
  src/components/record/DonationReceived.jsx
  src/components/record/DonationRecordContent.jsx
  src/components/record/DonationRecordNull.jsx
  src/components/record/DonationRecordTabButton.jsx
  src/components/record/DonationSent.jsx
  src/pages/DonationRecord.jsx
  src/pages/Main.jsx
  src/router/router.js
  src/stores/recordStore.js
  src/style/global/global.js
  src/style/main/accordion.js
  src/style/main/footer.js
  src/style/main/main.js
  src/style/main/navbar.js
  src/style/record/donationReceived.js
  src/style/record/donationRecord.js
  src/style/record/donationSent.js
Labels: 은진, feat, fix, style

#26 [style] 포옹 로그인 회원가입 퍼블리싱
  public/asset/register/profile.svg
  public/index.html
  src/components/login/LoginModal.jsx
  src/pages/Login/Login.jsx
  src/pages/Register/Register.jsx
  src/router/router.js
  src/style/global/global.js
  src/style/login/googleBtn.js
  src/style/login/login.js
  src/style/login/modal.js
  src/style/register/register.js
Labels: 지욱, style

#31 style : fosterRecord page publishing
  public/asset/record/foster.svg
  public/asset/record/fosterNull.svg
  src/components/record/DonationRecordNull.jsx
  src/components/record/FosterRecordNull.jsx
  src/pages/record/DonationRecord.jsx
  src/pages/record/FosterRecord.jsx
  src/router/router.js
  src/style/main/accordion.js
  src/style/main/main.js
  src/style/record/donationReceived.js
  src/style/record/donationRecord.js
  src/style/record/donationSent.js
  src/style/record/fosterRecord.js
Labels: 은진, fix, style

#29 임시보호 일지 퍼블리싱 및 기능 추가 완료 (수정완료)
  src/components/diary/DiaryImage.jsx
  src/components/diary/DiaryInput.jsx
  src/components/diary/InputField.jsx
  src/pages/CareDiary.jsx
  src/pages/CareDiary/CareDiary.jsx
  src/pages/Menu.jsx
  src/router/router.js
  src/stores/diaryStore.js
  src/style/careDiary/careDiary.js
  src/style/menu/menu.js
  src/style/register/careDiary.js
Labels: 가인, feat, fix, style, chore
